@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "inter", sans-serif;
    font-style: normal;
}

#body {
    background-color: #000000;
}

body {
    background-color: rgb(78, 76, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


.block {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 609px;
    border-radius: 20px;
}

.block-form {
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 95%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    font-size: 25px;
}


form {
    background-image: linear-gradient(rgba(245, 245, 247, 0.418), rgba(0, 0, 0, 0.185));
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.719); 
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 300;

}

.height {
    height: 40%;
}

.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Entrar {
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s all;
}

.Entrar:hover {
    color: #000000;
    background-color: #ffffff;
    border:  solid 1px;
    transform:scale(0.5.0.5);
}

input {
    border-radius: 10px;
    border: none;
    height: 24px;
    width: 220px;
    padding: 5px 5px;
    border: none;
    outline: none;
   
}

input:focus {
  outline: none;
  box-shadow: none;
}

.name-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin-bottom: 2px;
    margin-top: 5px;
}
.name-pass {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 10px;

    a:hover {
        color: rgb(0, 0, 0);
    }
}


input:focus {
    outline: none;
}

.apple-icon {
    width: 100%;
    height: 10%;
    display: flex; 
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.singOr {
    margin-top: 15px;
    font-size: 10px;
}

.orOptions {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.or {
    background-color: #ffffff;
    color: #000000;
    border-radius: 7px;
    width: 80px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 3px;
    border: solid 1px;
    transition: 0.5s all;
}

.or:hover {
    transform: scale(1.1);
}